* { 
    margin: 0; 
    padding: 0; 
}

/*Blocks*/
.wrapper{

}


.main__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#left__wrapper{
    background: #202020;
    width: 50%;
    height: 100vh;
}


#right__wrapper{
    background: #EEECEC;
    width: 50%;
    height: 100vh;
}

.left{
    display: flex;
    justify-content: center;
    margin-top: 350px;
}


.right{
    display: flex;
    justify-content: center;
    margin-top: 230px;

}


/*Text blocks*/
.r__white{   
    height: 480px;
    width: 825px;

}

.r__white:hover{
    cursor: pointer;
    transition: 1s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-shadow:
    1px 1px #85868646,
    2px 2px #85868646,
    3px 3px #85868646,
    4px 4px #85868646,
    5px 5px #85868646,
    6px 6px #85868646,
    7px 7px #85868646;
    }
    
.r__white:not(:hover){
transition: 1s;
}

.s__black{
    width: 710px;
    height: 240px;
}

.s__black:hover{
    cursor: pointer;
    transition: 1s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-shadow:
    1px 1px #85868646,
    2px 2px #85868646,
    3px 3px #85868646,
    4px 4px #85868646,
    5px 5px #85868646,
    6px 6px #85868646,
    7px 7px #85868646;
    }
    
.s__black:not(:hover){
transition: 1s;
}


/*Text*/
.strogi{
    text-align: left;
    color: #EEECEC;
    }
    
    .cherniy{
    text-align: right;
    color: #EEECEC;
    }
    
    .raspusheniy{
    text-align: right;
    color: #202020;
    }
    
    .raspusheniy:after{
    content: "";
    display: block;
    height: 224px;
    }
    
    .beliy{
    text-align: right;
    color: #202020;
    }
    
    .strogi, .cherniy, .raspusheniy, .beliy{
    font-size: 110px;
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    }


/*Button*/
.basket__button{
    width: 33px;
    height: 37px;
    float: right;
    margin-top: 16px;
    margin-right: 18px;

}

/*Lines*/
.left__line{
    border: none;
    margin-bottom: 326.5px;
    background-color: #EEECEC;
    width: 100%;
    height: 7px;
    margin-top: 69px;
}


.right__line{
    border: none;
    margin-bottom: 191px;
    
    background-color: #202020;
    width: 100%;
    height: 7px;
    margin-top: 69px;
}