* { 
    margin: 0; 
    padding: 0; 
}

/*Blocks*/
.wrapper{

}

.main__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#left__wrapper{
    background: #202020;
    width: 50%;
    height: 100vh;
    transition: 1s;
    box-shadow: none;
    position: none;
}


#right__wrapper{
    background: #EEECEC;
    width: 50%;
    height: 100vh;
    transition: 1s;
    box-shadow: none;
    position: none;
}

.left{
    display: flex;
    opacity: 1;
    justify-content: center;
    margin-top: 350px;
    transition: 3s;
}


.right{
    display: flex;
    justify-content: center;
    margin-top: 230px;
}


/*Text blocks*/
#r__white{   
    height: 480px;
    width: 825px;
    display: inline;
}

#r__white:hover{
    cursor: pointer;
    transition: 1s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-shadow:
    1px 1px #85868646,
    2px 2px #85868646,
    3px 3px #85868646,
    4px 4px #85868646,
    5px 5px #85868646,
    6px 6px #85868646,
    7px 7px #85868646;
    }
    
#r__white:not(:hover){
    transition: 1s;
}

#s__black{
    width: 710px;
    height: 240px;
    display: inline;
    opacity: 1;
}

#s__black:hover{
    cursor: pointer;
    transition: 1s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-shadow:
    1px 1px #85868646,
    2px 2px #85868646,
    3px 3px #85868646,
    4px 4px #85868646,
    5px 5px #85868646,
    6px 6px #85868646,
    7px 7px #85868646;
}
    
#s__black:not(:hover){
    transition: 1s;
}

#new__s__black{
    text-align: left;
    color: #ffffff;
    opacity: 0;
    display: none;
    transition: 1s;

    justify-content: center;
    align-items: center;
}

#new__r__white{
    text-align: left;
    color: #000000;
    opacity: 0;
    display: none;
    transition: 1s;
    justify-content: center;
    align-items: center;
}


/*Text*/
.strogi{
    text-align: left;
    color: #EEECEC;
    }
    
    .cherniy{
    text-align: right;
    color: #EEECEC;
    }
    
    .raspusheniy{
    text-align: right;
    color: #202020;
    }
    
    .raspusheniy:after{
    content: "";
    display: block;
    height: 224px;
    }
    
    .beliy{
    text-align: right;
    color: #202020;
    }
    
    .strogi, .cherniy, .raspusheniy, .beliy{
    font-size: 110px;
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    }


/*Nav buttons*/
.nav__button__container{

}

.nav__button{
    float: right;
    margin-top: 25px;
    margin-right: 18px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    text-align: right;
    color: #202020;
}

/*Lines*/
.left__line{
    border: none;
    margin-bottom: 326.5px;
    background-color: #EEECEC;
    width: 100%;
    height: 7px;
    margin-top: 69px;
}


.right__line{
    border: none;
    margin-bottom: 191px;
    
    background-color: #202020;
    width: 100%;
    height: 7px;
    margin-top: 69px;
}

/*White side with shirt*/
.pic__shirt__white{
    display: inline-block;
    width: 600px;
    height: 629px;
}

.info__white{
    display: inline-block;
    margin-right: 5%;
}

.info__white p{
    font-family: Montserrat;
    margin-bottom: 6%;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    color: #000;
}



/*Black side with shirt*/
.pic__shirt__black{
    display: inline-block;
    width: 600px;
    height: 629px;
}

.info__black{
    display: inline-block;
    margin-left: 5%;
}

.info__black p{
    font-family: Montserrat;
    margin-bottom: 6%;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    color: #FFFFFF;
}


/*Size*/
.sizes{
    margin-bottom: 10%;
}
.sizes p{
    margin-bottom: 1%;
}

.circles{
    display: flex;
}
.circle{
    margin-right: 20px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    background: #C4C4C4;
    border-radius: 50%;
    padding: 5px;
    vertical-align: top;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: #000000;

}
.circle::after{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.circle:hover{
    background: #7a7a7a;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/*Button add to bascket*/
.rectangle{
    width: 300px;
    height: 40px;
    background: #C4C4C4;
    border-radius: 40px;
    padding: 5px;
    vertical-align: top;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 125%;
    color: #000000;
}

.rectangle::after{
    content: ' ';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.rectangle:hover{
    background: #7a7a7a;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}


/*Slider*/

.slider_block {
    width: 100%;
    height: 100%;
}

.viewport {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}


.slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}



.slidewrapper, .slidewrapper ul, .slidewrapper li {
    margin: 0;
    padding: 0;
}


.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

.prev-btn, .next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #C4C4C4;
    border-radius: 50%;
    top: calc(50% - 25px);
}

.prev-btn:hover, .next-btn:hover {
    cursor: pointer;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.nav-btns {
    position: absolute;
    width: 100%;
    bottom: -5px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    background-color:#C4C4C4
}

.slide-nav-btn:hover {
    cursor: pointer;
}



/*Preloader*/
.loader{
    background:#212121;
    height:100%;
    left:0;
    position:fixed;
    right:0;
    top:0;
    width:100%;
    z-index:9999
}
.loader .loader_inner{background-image:url(images/preloader.gif);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-color:#212121;
    height:50%;
    width:50%;
    left:25%;
    top:20%;
    position:absolute;
    text-align:center
}
.loader .loader_inner img{
    height:50px;
    margin-top:25px
}