@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

.block {
  padding: 20px; /* Поля */
  background: #42ffdf; /* Цвет фона */
  border: 2px solid #3ed8b1; /* Параметры рамки */
  text-align: center; /* Выравнивание текста по ширине */
  width: 40%;
}

.line {
  padding: 0px;
  margin: 20px;
  border-left: 3px dotted red;
  padding-left: 15px;
  width: 40%;
}

.blocks_for_margin{
  margin: 3%;
}

table {
  border: 1px solid grey;
}

th {
  border: 1px solid grey;
}

td {
  border: 1px solid grey;
}

